.bodyDiv {
  height: 100vh;
  background-color: rgb(10, 92, 92);
}

div.bodyContainer {
  margin-top: 50px !important;
}

.tabs a {
  color: rgb(10, 92, 92);
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background: inherit !important;
}

.auth-content {
  height: 515px !important;
}

#content {
  text-align: center;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(133, 139, 139);
}

#content:hover {
  color: #7a7575;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
