.material-icons {
  color: rgb(10, 92, 92) !important;
  margin-right: 10px;
  cursor: pointer;
}

.time {
  margin-bottom: 10px !important;
  font-style: italic;
}

.text {
  text-align: center;
  font-size: 25px !important;
  font-family: 'Times New Roman', Times, serif;
}

.disabled {
  color: #c0c0c0 !important;
}

.notDisabled {
  color: rgb(10, 92, 92) !important;
}
