.postDiv {
  background-color: rgb(10, 92, 92);
}

form {
  background-color: #fff;
}

.formDiv {
  margin: 0px 20px 0px 20px;
}

.addImageBtn {
  margin-bottom: 5px;
}

.postBtn {
  float: right;
  background-color: rgb(10, 92, 92);
  margin-bottom: 5px;
}

.imgSpan i {
  background-color: rgb(10, 92, 92);
}

.btn {
  background-color: rgb(10, 92, 92);
}

.file-field input[type='file'] {
  width: 70% !important;
}
