<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Messanger</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>Sass</a></li>
        <li><a>Components</a></li>
        <li><a (click)="logOut()">LogOut</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <div class="nav-div">
        <img class="circle responsive-img" src="https://cdn.britannica.com/56/148856-004-2F59E2D9/APJ-2008.jpg" />
      </div>
      <h1 class="profile-name">{{ username }}</h1>
      <!-- <p class="user-text">This is a test</p> -->
    </div>
  </div>
</nav>
